* {
  font-family: automate, sans-serif;
}
.homepage,
.about,
.projects,
.contact,
.lastSection {
  height: 100vh;
}
.textNav {
  font-weight: 700;
  font-style: normal;
  color: #dd5341;
}
.myName {
  color: #dd5341;
  top: 40%;
}

.leftSideAbout,
.rightSideAbout,
.rightSideprojects,
.leftSideprojects,
.leftSideContact,
.rightSideContact {
  position: relative;
  width: 50%;
}

.sectionText {
  font-weight: 700;
  font-style: normal;
  color: #dd5341;
}

.rightSideprojects {
  background-image: url("https://i.pinimg.com/736x/a4/8a/eb/a48aeb33f62b8a9f3d5af97abbe89fa0--poster-design-inspiration-take-risks.jpg");
  background-attachment: fixed;
  background-color: none;
}

.linkBtn {
  top: 60%;
}
/* @media only screen and (max-width: 600px) {
  .leftSideAbout,
  .rightSideAbout,
  .rightSideprojects,
  .leftSideprojects,
  .leftSideContact,
  .rightSideContact,
  .lastSection {
    width: 100%;
  }
  .rightSideAbout {
    height: 500px;
  }
} */
