* {
  font-family: automate, sans-serif;
}
.homepage,
.about,
.projects,
.contact,
.lastSection {
  height: 100vh;
}

.textNav {
  font-weight: 700;
  font-style: normal;
  color: #dd5341;
}
.myName {
  color: #dd5341;
  top: 40%;
}
.descHolder {
  display: block;
}

.descHolder > button,
h3 {
  margin-top: 30px;

  display: inline-block;
}
.descHolder > button {
  float: right;
}
.yellowColor {
  color: darkgoldenrod;
}

.homepage,
.leftSideAbout,
.rightSideAbout,
.rightSideprojects,
.leftSideprojects,
.leftSideContact,
.rightSideContact,
.lastSection {
  position: relative;
  min-height: 600px !important;
}

.sectionText {
  font-weight: 700;
  font-style: normal;
  color: #dd5341;
  position: absolute;
  top: 30%;
}

.rightSideprojects {
  background-image: url("https://i.pinimg.com/736x/a4/8a/eb/a48aeb33f62b8a9f3d5af97abbe89fa0--poster-design-inspiration-take-risks.jpg");
  background-attachment: fixed;
  background-color: none;
}
.leftSideprojects > .sectionText {
  bottom: 5px;
}

.linkBtn {
  top: 40%;
}

@media only screen and (max-width: 600px) {
  .homepage,
  .about,
  .projects,
  .contact,
  .lastSection {
    height: auto;
  }
  .myName {
    color: #dd5341;
    top: 20%;
  }
  .descHolder > button,
  h3 {
    float: left;
    display: block;
    clear: both;
  }
}

@media only screen and (max-width: 760px) and (min-width: 600px) {
  .homepage,
  .about,
  .projects,
  .contact,
  .lastSection {
    height: auto;
  }
  .myName {
    top: 15%;
    left: 15%;
  }
  .descHolder > button,
  h3 {
    float: left;
    display: block !important;
    clear: both;
  }
}
