* {
  font-family: automate, sans-serif;
}

.projectItems {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 100%;
}
.projectItemHolder {
  margin: auto;
  max-width: 1200px;
  width: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 80px;
}
.bgCustom {
  background-color: #dd5341;
}

.image {
  opacity: 1;
  display: block;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  display: none;
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
}
.projectItems:hover .image {
  opacity: 0.3;
}

.projectItems:hover .middle {
  opacity: 1;
  display: block;
  animation: mymove 0.3s linear;
}
@keyframes mymove {
  0% {
    top: 335px;
  }
  100% {
    top: 300px;
  }
}

.text {
  background-color: darkslategray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.thumb_small {
  width: 400px;
}

.thumb_big {
  width: 800px;
}

@media only screen and (max-width: 1200px) {
  .thumb_big {
    width: 400px;
    text-align: center;
  }
  .projectItemHolder {
    max-width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .projectItemHolder {
    max-width: 400px;
  }
}
